body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background: black;
}

.main .first {
    margin: 0 auto;
    width: 80vw;
    height: auto;
    margin-bottom: 0.5vw;
}

.main .first img {
    width: 11vw;
}

.main .first {
    display: flex;
    align-items: center;
}

.main .first a {
    margin-left: auto;
}

.main .second {
    margin-top: 0.5vw;
}

.main {
    margin-top: 0.5vw;
    
}

header {
    width: 100%;
    background: white ;
}

header .head ul li a img {
    width: 4.5vw;
}

header .head ul li a .img {
    width: 10vw;
}

.head {
	position: -webkit-sticky;
    background: white;
    height: 5vw;
    width: 100%;
    margin: 0 auto;
    
}


.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}




.head ul  {
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

.head ul li:not(img) {
    
    margin-left: 6vw;
    text-align: center;
/*    font-size: 0.5 em;*/
    font-size: 1.6vw;
}

.head a {
    color: red;
    font-weight: normal;
}


.head li :last-of-type {
    margin-left: 0;
}

.head ul li : first-child {
    margin-right: 0;

}


/*
 header a:hover:not( .i ) {
    border-bottom: 0.07vw solid black;
    border-top: 0.07vw solid black;
    padding: 0.2vw;
    font-size: 1.5vw;
}
*/

header .head .active {
    border-bottom: 0.07vw solid black;
    border-top: 0.07vw solid black;
    padding: 0.2vw;
    font-size: 1.5vw;
}

main {
    width: 50vw;
    margin: 0 auto;
    margin-top: 2vw;
}

main div:not(.forma)  {
    display: flex;
    align-items: center;
}


main section {
    max-width: 15 vw;
    height: 600px;
    background: white;
    border-radius: 1vw;
}

main .string .second {
    margin-left: 10vw;
}

main .string .second , main .string .first {
    width: auto;
    height: auto;
}

main .string p {
    margin-bottom: 1vw;
}

main .string img{
    margin-top: 1vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    width: 20vw;
}

main  p {
    text-align: center;
    font-size: 1vw;
    color: red;
    font-weight: 700;
    margin-bottom: 0;
}

main div:not(.first) , main div:not(.forma) {
    margin-top:  9vw;
}
li , a , ul {
    text-decoration: none;
    list-style-type: none;
}

footer{
    width: 100%;
    height: 25vw;
    background: white;
    margin-top: 10vw;
    font-size: 1.3vw;
    display: flex;
    
}

footer  img {
    width: 19vw;
}

footer p  , h2 {
    color: red;
    font-weight: 400;
}

footer .content {
    width: 60vw;
    margin: 0 auto;
}

footer section p {
    margin-left: 2.5vw;
}

footer .up {
    margin-right: 0 ;

}

footer .aboutMdse {
    margin-top: 2vw;
}

/*<img src="img/header2.png">*/

.owl-carousel h4 img{
    width: 100%;
    height: 35vw;
    
}


/*
@media screen and (max-width: 800px) {
   body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background: black;
    }
    
    header {
    width: 100%;
    height: 90px;
    background: white ;
    }
    
    .head {
	position: -webkit-sticky;
    background: white;
    margin-top: 15px;
    height: 90px;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
    border-bottom: 2px solid ;
    }
    
    .sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
    
    .head ul  {
    display: flex;
    align-items: center;
}
    
    .head ul li:not(img) {
    margin-right: 180px;
    text-align: center;
}
    
}
*/



  











