.bGround {
    background-image: url(../img/skater.png);
    background-repeat: no-repeat;
    background-position: 311px;
}

.main .first {
    margin: 0 auto;
    width: 80vw;
    height: auto;
}

.main .first {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.main .first a {
    margin-left: auto;
}


.main .second {
/*    margin: 0 auto;*/
    margin-top: 30px;
}

/*
.main .second img {
    margin-left: auto;
}

.main .second p {
    font-style: italic;
    font-size: 40px;
    width: 536px;
    color: rgba(139, 18, 158, 0.5);
}
*/
.main {
    margin-top: 10px;
}
    
/*
}
header .head {
    
}

*/

























li , a , ul {
    text-decoration: none;
    list-style-type: none;
}








